header {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.isologo img {
    max-height: 50px;
}

.nombrelogo {
    text-align: center;
}


nav {
    background-color: #007bff;
}

.navbar-toggler-icon {
    background-color:  #fff;
}

.navbar-nav {
    margin: 0;
}

.nav-link {
    color: black;
}


.formulario {
    margin: 20px;
    padding: 20px;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
}

/* Footer */
#footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.redessociales {
    margin-bottom: 20px;
}

.redessociales i {
    margin: 0 10px;
    color: #fff;
}

.form {
    margin-bottom: 20px;
}

.contacto {
    margin-bottom: 10px;
}

.formulario-caja,
.formulario-txt {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.derechos {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}






