nav {
    background-color: #007bff;
}

.navbar-toggler-icon {
    background-color:  #fff;
}

.navbar-nav {
    margin: 0;
}

.nav-link {
    color: black;
}


.formulario {
    margin: 20px;
    padding: 20px;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
}






