.jgeneral{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: rgb(241, 241, 241);
    align-items: center;
}
.jd{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(218, 218, 218);
    border-radius: 5px;
    position: relative;
    box-shadow: 3px 3px 5px;
    width: 580px;
    height: 510px;
}
.jd h3{
    text-align: center;
}


@media screen {
    501px - 800px
    801px - 1200
} 