*{
    padding: 0px;
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.cuerpo{/* Body */
    background-color: black;
}
.inireg{ /* Navegador Inicio Sesion + Registro */ 
    background-color: rgb(241, 241, 241);
}
.logo{ /* Barra Logo + Nombre de la empresa */
color: rgb(255, 0, 0);
border: 0 none;
box-shadow: none;
height: auto;
margin: 0;
padding: 0;
width: auto !important;
text-align: center;
}
.navhome{ /* Navegador Home + Tienda + Contactanos */
    background-color: rgb(241, 241, 241);

} 

@media(min-width:501px){
    .jd{
        width: 40%;
    }
}
@media(min-width:801px){
    .jd{
        width: 40%;
    }
}


