section{
    max-width: 80%;
    background: white;  
    margin: 0 auto;
    padding: 10px;  
    border-radius: 10px;
    margin-top: 30px;
}

h2{
    text-align: center;
    color:#B40404;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Crea tres columnas de igual ancho */
    grid-column-gap: 30px; /* Agrega espacio entre las columnas */
  }
  
  .column {
    padding: 10px;
  }
a{
    text-decoration: none;
}
hr{
    max-width: 80%;
    margin: 0 auto;
}
.column img {
    width: 60%; /* Establece el ancho de la imagen al 100% del ancho de su contenedor */
  }

.span-2{
    font-weight: bold;
    color: #145A32 ;
}

.span-3{
    font-weight: bold;
    color:#1B4F72 ;
}
.span-4{
  font-weight: bold;
  color:#B40404;
}

  /* Estilos para pantallas de tamaño mediano y superior */
@media (min-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-column-gap: 5px;
    }
  }
  
  /* Estilos para pantallas de tamaño pequeño */
  @media (max-width: 767px) {
    .container {
      display: block; /* Cambia a un diseño de bloque en pantallas pequeñas */
    }
    .column {
      margin-bottom: 20px; /* Agrega espacio entre las columnas en pantallas pequeñas */
    }
  }
  